.footer {
  background-color: $gray-lightest;
  padding: 0rem $spacer-x * 3;
  line-height: 3rem;
  color: $gray-light;
  text-align: center;
  padding: 1rem;

  &__github-link {
    vertical-align: middle;
    font-size: 2rem;
    color: black;
  }
}
